h1,h2,h3,h4,h5,h6{
  font-family: 'Roboto', sans-serif;
}

h2{
  font-size: 1.8em;
}
body{
  background-color: #1D2423;
  font-family: 'Open Sans', sans-serif;
  /*background-color: rgb(230, 230, 230);*/
}

body a{
  color: #EEE;
  text-decoration: underline;
}
body a:hover{
  cursor: pointer;
  color: #C19C7F;
}


/* list info */ 
/*#content-wrap{
  padding: 1em;
}*/

.ListInfo{
  color: #fff;
  padding: 0 1em;
}

.ListInfo .li-row-header{
  background-color: #4D7573;
}

.ListInfo .col{
  display: inline-block;
  box-sizing: border-box;
  width: 50%;
  padding: 0 0 4em;
  float: left;
}

.li-row{
  height: 32px;
  width: 100%;
  box-sizing: border-box;
  padding-right: 10px;
}

.info-column{
  display: inline-block;
  height: 100%;
}

.info-column-1{
  width: 140px;
  font-weight: bold;
  /*background-color: rgb(58,58,58);*/
}

.info-column-2{
  /*background-color: rgb(230,230,230);*/
}
/* */ 

.ListWrapper{
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  position: relative;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 100%;
}



/* Collection default theme */

.Collection {
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  /* Without this property, Chrome repaints the entire Collection any time a new row or column is added.
     Firefox only repaints the new row or column (regardless of this property).
     Safari and IE don't support the property at all. */
  will-change: transform;
}

.Collection__innerScrollContainer {
  box-sizing: border-box;
  overflow: hidden;
}

.Collection__cell {
  position: absolute;
}

/* Grid default theme */

.Grid {
  position: relative;
  overflow: auto;
  -webkit-overflow-scrolling: touch;

  /* Without this property, Chrome repaints the entire Grid any time a new row or column is added.
     Firefox only repaints the new row or column (regardless of this property).
     Safari and IE don't support the property at all. */
  will-change: transform;
}

.Grid__innerScrollContainer {
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.Grid__cell {
  position: absolute;
}

/* FlexTable default theme */

.FlexTable {
}

.FlexTable__Grid {
  overflow-x: hidden;
  box-sizing: border-box;
}

.FlexTable__headerRow {
  font-weight: 700;
  text-transform: uppercase;
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
}
.FlexTable__row {
  display: flex;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}

.FlexTable__headerTruncatedText {    
  display: inline-block;
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.FlexTable__headerColumn,
.FlexTable__rowColumn {
  margin-right: 10px;
  min-width: 0px;
}
.FlexTable__rowColumn {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.FlexTable__headerColumn:first-of-type,
.FlexTable__rowColumn:first-of-type {
  margin-left: 10px;
}
.FlexTable__sortableHeaderColumn {
  cursor: pointer;
}

.FlexTable__sortableHeaderIconContainer {
  display: flex;
  align-items: center;
}
.FlexTable__sortableHeaderIcon {
  flex: 0 0 24px;
  height: 1em;
  width: 1em;
  fill: currentColor;
}

/* VirtualScroll default theme */

body{
	margin: 0;
	padding: 0;
}

.even{
  background-color: #FFF;
  color: #000;
}

.uneven{
  background-color: #EBEBEB;
  color: #000;
}

#datasetList .rv-col.column-3, #datasetList .rv-col.column-4{
  font-weight: bold;
}

#publisherList .rv-col.column-3{
  font-weight: bold;
}

.VirtualScroll {
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  background-color: #fff;
}

.GridRow {
  position: relative;
  display: flex;
  flex-direction: row;
}
.GridColumn {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
}
.LeftSideGridContainer {
  flex: 0 0 75px;
  z-index: 10;
  font-family: 'Open Sans', sans-serif;
}

.LeftSideGrid {
  overflow: hidden !important;
}
.HeaderGrid {
  width: 100%;
  overflow: hidden !important;
}
.BodyGrid {
  width: 100%;
  border-bottom: 1em solid rgb(58,58,58);
}

.evenRow {
  
}

.oddRow {
  background-color: rgba(0, 0, 0, .1);
}

.cell a{
  color: #fff; 
}

.cell,
.headerCell,
.leftCell {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /*align-items: center;*/
  text-align: left;
  padding: 0 1em;
}

.headerCell,
.leftCell {
  font-weight: normal;
}

.headerCell{
  box-sizing: border-box;
}

.inputHeaderCell{
  padding-top: 6px;
}

.sort-by{
  cursor: pointer;
  float: right;
}

.headerCell input{
  background-color: #4D7573;
  color: #fff;
  border: 0;
  border-bottom: 1px solid #ddd;
  width: 70%;
  max-width: 250px;
  outline: none;
}


.column-title{
  text-align: left;
}

/* NAVBAR */

.navbar{
  background-color: #294544;
}

.navbar a{
  box-sizing: border-box;
  display: inline-block;
  text-align: center;
  color: #fff;
  padding: 1em 2em;
  font-size: 1em;
  text-decoration: none;
}

.navbar .nav-home{
  text-align: left;
  padding-left: 1em;
  font-weight: bold;
}

.navbar a:hover{
  color: #fff;
  background-color: #4D7573;
}

#full-screen-button{
  float: right;
  padding: 0.3em;
  margin: 0.6em;
}

#full-screen-button:hover{
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 3px -1px rgba(255,255,255,0.75);
  -moz-box-shadow: 0px 2px 3px -1px rgba(255,255,255,0.75);
  box-shadow: 0px 2px 3px -1px rgba(255,255,255,0.75);
}

/* ABOUT */

.about-page{
  color: #fff;
  padding: 1em;
  max-width: 36em;
  margin: 0 auto 3em;
  text-align: left;
  font-size: 1.2em;
  line-height: 1.58;
}

.about-page p{
  margin-top: 0;
}

.about-page h2, .about-page h3{
  margin-top: 1.0em;
  margin-bottom: 0.1em;
}

.about-page h3{
  margin-top: 2em;
}

.about-page h2{
  margin-bottom: 0.5em;
}

/*  */

#loader{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  pointer-events: none;
}

.bug-count-header{
  padding-top: 8px;
}

.bug-count-header .sort-by{
  margin-top: -2px;
}

.rv-row{
  white-space: nowrap;
  height: 100%;
}

.rv-col{
  display: inline-block;
  text-align: left;
  padding: 0.3em 2em;
  color: #333;
  box-sizing: border-box;
  zoom: 1;
  padding-top: 8px;
  height: 100%;
}

.rv-col a{
  color: #333;
}

.datasetInfo, .publisherInfo{
  max-width: 600px;
  overflow: hidden;
  line-height: 1.5em;
}

.datasetInfo .rv-col, .publisherInfo .rv-col{
  min-height: 36px;
}

.datasetInfo .col-1, .publisherInfo .col-1{
  width: 30%;
  min-width: 150px;
  font-weight: bold;
}

.publisherInfo .col-1{
  min-width: 200px;
}

.datasetInfo .col-2, .publisherInfo .col-2{
  width: 70%;
  white-space: initial;
}

.colHeader{
  background-color: #4D7573;
  color: rgb(255, 255, 255);
  height: 46px;
  width: 100%;
}

#datasetList .colHeader{
  min-width: 2350px;
}

#datasetNotes .colHeader{
  min-width: 2140px;
}

#publisherList .colHeader{
  min-width: 1900px;
}

#publisherDatasets .colHeader{
  min-width: 1920px;
}


#commonErrorList .colHeader{
  min-width: 2450px;
}

#implementedBugsList .colHeader{
  min-width: 2400px;
}

#publisherDatasets .rv-col.column-3{
  font-weight: bold;
}

.datasetCommonErrors, .publisherCommonErrors{
  max-width: 820px;
  max-height: 360px;
}

#publisherList .inputHeaderCell{
  width: 120px;
}

#publisherList,
#datasetNotes, 
#datasetList,
#commonErrorList,
#datasetList,
.datasetInfo,
.publisherInfo,
.datasetCommonErrors,
.publisherCommonErrors,
#publisherDatasets,
#implementedBugsList{
  position: relative;
  margin-top: 3em;
  -webkit-box-shadow: 0px 2px 3px -1px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 3px -1px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 3px -1px rgba(0,0,0,0.75);
  overflow-x: scroll;
}

#datasetNotes,
.datasetInfo,
.publisherInfo,
.datasetCommonErrors,
.publisherCommonErrors,
#publisherDatasets,
#implementedBugsList{
  margin-top: 0;
}

#publisherList,
#datasetNotes, 
#datasetList,
#commonErrorList,
#datasetList,
#publisherDatasets,
#implementedBugsList{
  width: 100%;
  margin-bottom: 200px;
}

#datasetNotes .fixed, #datasetList .fixed, #commonErrorList .fixed{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.datasetNotesHeader, .publisherDatasetsHeader{
  padding: 0 1em;
  clear: both;
  color: #fff;
}

#datasetNotes .rv-row .column-2{
  white-space: normal;
}

.status-1{
  text-align: center;
  color: #fff;
  margin: 2px;
  background-color: #327F2E;
}

.status-0{
  text-align: center;
  color: #fff;
  margin: 2px;
  font-weight: bold;
  background-color: #9C373A;
}

.status--1{
  text-align: center;
  margin: 2px;
  color: #fff;
  background-color: #AFA36D;
}

.status--2{
  text-align: center;
  margin: 2px;
  color: #fff;
  background-color: #AFA36D;
}

.loader{
  position: absolute;
  z-index: 10;
  padding-top: 46px;
  box-sizing: border-box;
  top: 0;
  left: 0;
  height: 100%;
  min-height: 200px;
  width: 100%;
  pointer-events: none;
  background-repeat: no-repeat;
  background-position: center 20%; 
}

.loading{
  pointer-events: auto;
  background-image: url('../images/loader.svg');
}