@charset 'utf-8';

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import '../../node_modules/react-md/src/scss/react-md';


$md-picker-include-forceful-classes: true;
// $md-primary-color: #4d7572;
$md-primary-color: #294544;
// $md-secondary-color: #294544;
// $md-secondary-color: #1D2423;

@include react-md-everything;
@include react-md-make-custom-grid('40-16', 40px, 16px, 0);

@import 'general';
@import 'charts';
